@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
p {
    font-family: 'Roboto', sans-serif;
}

.horizonal-nav {
    margin-top: 20px;
}

.search-icon {
    width: 18px;
    margin: 0 18px 0 0;
}

.d-flex .left p,
.d-flex .right p {
    display: inline;
    font-size: 16px;
}

.menu-icon {
    margin: 0 25px 0 0;
}

.header-logo {
    width: 150px;
    margin: 0 76px 0 0;
}

.right .downward-arrow {
    margin: 0 0 0 15px;
    width: 10px;
}

.right p {
    margin: 0 0 0 12px;
}

.right .profile-image {
    width: 44px;
    margin: 0 0 0 23px;
}


/* .side-nav {
    display: inline;
    /* width: 205px; */


/* }  */

.side-nav ul {
    list-style: none;
    margin-left: -14px;
}

.side-nav ul .button {
    /* display: inline-block; */
    padding: 12px 15px;
}

.side-nav ul li {
    margin-bottom: 5px;
}

.side-nav ul li:first-child {
    margin-top: 28px;
    margin-bottom: 5px;
}

.side-nav ul li a {
    text-decoration: none;
}

.side-nav ul li a img {
    width: 22px;
    margin: 0 15px 0 0;
}

.side-nav ul li a p {
    display: inline;
    font-size: 16px;
    margin: 0 0 32px 0;
    text-align: center;
    color: #3a3a3a;
    vertical-align: middle;
}

.side-nav ul .active {
    background-color: #fff3f4;
    /* padding: 14px 60px 14px 18px; */
    /* padding: 12px 15px; */
    border-radius: 5px;
    /* margin-left: -16px; */
    /* margin-bottom: 36px; */
}

.side-nav ul .active p {
    color: #c8242f;
}

.analysis {
    background-color: #fafafa;
    padding: 29px 0px 0 0px;
    margin-top: 23px;
    margin-left: -86px;
}

.analysis h1 {
    font-size: 30px;
    margin: 6px 0 20px 48px;
}

.main-form {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 29px;
    border-radius: 5px;
}

input {
    outline: none !important;
}

.main-form form label {
    color: #3E3E3E;
    font-size: 20px;
    font-weight: 600;
}

.main-form form select {
    margin-bottom: 15px;
}

.main-form form .two-column {
    margin: 17px 0 10px 0;
}